<form class="form-inline">
	<!--Type-->
	<select class="form-control mb-2 mr-sm-2"
		ng-model="$ctrl.search.lodgingType.name"
		ng-change="$ctrl.change()">
			<option value="">---Select a type---</option>
			<option ng-repeat="lodgingType in $ctrl.lodgingTypes track by lodgingType.id"
				value="{{lodgingType.name}}">{{lodgingType.name}}</option>
	</select>
	<!--Category-->
	<input type="number"
		class="form-control mb-2 mr-sm-2"
		ng-model="$ctrl.search.category"
		ng-change="$ctrl.change()"
		min="1"
		placeholder="Category"/>
	<!--Food service-->
	<select class="form-control mb-2 mr-sm-2"
		ng-model="$ctrl.search.foodServiceType.name"
		ng-change="$ctrl.change()">
			<option value="">---Select a food service type---</option>
			<option ng-repeat="foodServiceType in $ctrl.foodTypes track by foodServiceType.id"
				value="{{foodServiceType.name}}">{{foodServiceType.name}}</option>
	</select>
	<!--Features-->
	<div ng-repeat="featureType in $ctrl.featureTypes track by featureType.id"
		ng-switch="featureType.name"
		class="form-check mb-2 mr-sm-2">
			<label class="form-check-label" for="{{featureType.name}}">
				<i ng-switch-when="Parking"
					class="fas fa-parking"></i>
				<i ng-switch-when="WiFi"
					class="fas fa-wifi"></i>
				<i ng-switch-when="TV"
					class="fas fa-tv"></i>
				<i ng-switch-when="Kitchen"
					class="fas fa-utensils"></i>
				<i ng-switch-when="Bathroom"
					class="fas fa-bath"></i>
				<i ng-switch-default>{{featureType.name}}</i>
			</label>
			<input type="checkbox"
				class="form-check-input"
				id="{{featureType.name}}"
				ng-model="$ctrl.search['has' + featureType.name]"
				ng-change="$ctrl.change()"
				ng-false-value="">
	</div>
</form>
