<!--List-->
<div class="row no-gutters align-items-stretch">
	<div class="col-md-6">
		<div class="card m-md-1">
			<my-slideshow class="card-img-top" image-paths="$ctrl.lodging.imagePaths"/>
			<div class="card-body">
				<h3 class="card-title d-flex align-items-center">
					{{$ctrl.lodging.name}}
					<span class="badge badge-custom ml-2">
						{{$ctrl.lodging.lodgingType.name}}
					</span>
				</h3>
				<div class="card-subtitle mb-2 text-muted">
					<div>
						Category:
						<my-stars rating="$ctrl.lodging.category" max="5"></my-stars>
						{{$ctrl.lodging.category}}/5
					</div>
					<div>
						Rating:
						<my-stars rating="$ctrl.lodging.rating" max="5"></my-stars>
						{{$ctrl.lodging.rating}}/5
					</div>
				</div>
				<p class="card-text">{{$ctrl.lodging.description}}</p>
				<p class="card-text">
					<i class="fas fa-map-marker"></i>
					{{$ctrl.lodging.address}}
				</p>
				<p class="card-text">
					<i class="fas fa-bed"></i>
					{{$ctrl.lodging.numberOfBeds}},
					{{$ctrl.lodging.foodServiceType.name}}
				</p>
				<p class="card-text">
					<span class="separate"
						ng-repeat="feature in $ctrl.lodging.featureType track by feature.id"
						ng-switch="feature.name">
							<i ng-switch-when="Parking"
								class="fas fa-parking"></i>
							<i ng-switch-when="WiFi"
								class="fas fa-wifi"></i>
							<i ng-switch-when="TV"
								class="fas fa-tv"></i>
							<i ng-switch-when="Kitchen"
								class="fas fa-utensils"></i>
							<i ng-switch-when="Bathroom"
								class="fas fa-bath"></i>
							<i ng-switch-default>{{feature.name}}</i>
							<i class="fas fa-check"></i>
					</span>
				</p>
				<p class="card-text">
					<i class="fas fa-money-bill-alt"></i> Price list:
					<ul>
						<li ng-repeat="price in $ctrl.prices track by price.id">
							<span class="separate">
								{{price.fromDate | date}}
								—{{price.toDate | date}}
							</span>
							<span class="separate">
								{{price.pricePerDay | currency}}
							</span>
						</li>
					</ul>
				</p>
			</div>
			<div class="card-footer text-right" ng-if="$root.user">
				{{$ctrl.status}}
				<button class="btn btn-custom ml-1"
					ng-click="$ctrl.reserve()"
					ng-disabled="$ctrl.status">
					Reserve lodging
					from <b>{{$ctrl.fromDate | date}}</b>
					- <b>{{$ctrl.toDate | date}}</b>
					for <b>{{$ctrl.activePrice[0].pricePerDay | currency}}</b>
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h2 class="text-center">User reviews:</h2>
		<div class="card m-md-1"
			ng-repeat="comment in $ctrl.comments track by comment.id">
				<div class="card-header">
					{{comment.user.email}}
				</div>
				<div class="card-body">
					<p class="card-text">
						{{comment.content}}
					</p>
				</div>
		</div>
	</div>
</div>
