<div>
	<h2>Lodging list:</h2>
	<!--Search box-->
	<form class="form-row">
		<div class="col-md-6">
			<div class="form-group input-group">
				<input type="text"
					class="form-control"
					ng-model="$ctrl.search.$"
					placeholder="Search"
					autofocus/>
				<div class="input-group-append">
					<span class="input-group-text">
						<i class="fas fa-search"></i>
					</span>
				</div>
			</div>
		</div>
	</form>
	<form class="form-inline">
		<label for="fromDate" class="mb-1 mr-2">From:</label>
		<input type="date"
			class="form-control mb-2 mr-sm-2"
			ng-model="$ctrl.fromDate"
			ng-change="$ctrl.filterByDate()"
			id="fromDate"
			placeholder="From"
			required/>
		<label for="toDate" class="mb-1 mr-2">To:</label>
		<input type="date"
			class="form-control mb-2 mr-sm-2"
			ng-model="$ctrl.toDate"
			ng-change="$ctrl.filterByDate()"
			id="toDate"
			placeholder="To"
			min="{{$ctrl.fromDate | date:'yyyy-MM-dd'}}"
			required/>
		<input type="number"
			class="form-control mb-2 mr-sm-2"
			ng-model="$ctrl.search.numberOfBeds"
			min="1"
			placeholder="Number of beds"/>
		<input type="button"
			class="btn btn-custom mb-2 mr-2"
			ng-click="$ctrl.resetSearch()"
			value="Reset all"/>
		<input type="button"
			class="btn btn-custom mb-2"
			ng-click="$ctrl.advancedEnabled = !$ctrl.advancedEnabled"
			value="Advanced search"/>
	</form>
	<div ng-show="$ctrl.advancedEnabled" class="panel">
		<my-advanced-search
			reset="$ctrl.advancedReset"
			on-change="$ctrl.advancedSearch = search">
		</my-advanced-search>
	</div>
	<!--Order box-->
	Order by:
	<ul class="list-inline d-inline">
		<li class="list-inline-item separate">
			<a ng-click="$ctrl.orderBy('price')">Price</a>
			<span ng-show="$ctrl.order === 'price'">
				<i class="fas fa-sort-up" ng-show="!$ctrl.isReverse"></i>
				<i class="fas fa-sort-down" ng-show="$ctrl.isReverse"></i>
			</span>
		</li>
		<li class="list-inline-item separate">
			<a ng-click="$ctrl.orderBy('rating')">Rating</a>
			<span ng-show="$ctrl.order === 'rating'">
				<i class="fas fa-sort-up" ng-show="!$ctrl.isReverse"></i>
				<i class="fas fa-sort-down" ng-show="$ctrl.isReverse"></i>
			</span>
		</li>
		<li class="list-inline-item separate">
			<a ng-click="$ctrl.orderBy('category')">Category</a>
			<span ng-show="$ctrl.order === 'category'">
				<i class="fas fa-sort-up" ng-show="!$ctrl.isReverse"></i>
				<i class="fas fa-sort-down" ng-show="$ctrl.isReverse"></i>
			</span>
		</li>
	</ul>
</div>
<!--List-->
<div class="row no-gutters align-items-stretch">
	<div ng-repeat="lodging in $ctrl.lodgings | filter:$ctrl.search | filter:$ctrl.advancedSearch:true | orderBy:$ctrl.order:$ctrl.isReverse track by lodging.id"
		class="col-lg-4 col-md-6">
			<div class="card m-md-1">
				<my-slideshow class="card-img-top" image-paths="lodging.imagePaths"/>
				<div class="card-body">
					<h3 class="card-title d-flex align-items-center">
						<a ui-sref="home.lodging({
								id: lodging.id,
								fromDate: $ctrl.fromDate.getTime(),
								toDate: $ctrl.toDate.getTime()
							})">
								{{lodging.name}}
						</a>
						<span class="badge badge-custom ml-2">
							{{lodging.lodgingType.name}}
						</span>
					</h3>
					<div class="card-subtitle mb-2 text-muted">
						<div>
							Category:
							<my-stars rating="lodging.category" max="5"></my-stars>
							{{lodging.category}}/5
						</div>
						<div>
							Rating:
							<my-stars rating="lodging.rating" max="5"></my-stars>
							{{lodging.rating}}/5
						</div>
					</div>
					<p class="card-text">{{lodging.description}}</p>
					<p class="card-text">
						<i class="fas fa-map-marker"></i>
						{{lodging.address}}
					</p>
					<p class="card-text">
						<i class="fas fa-bed"></i>
						{{lodging.numberOfBeds}},
						{{lodging.foodServiceType.name}}
					</p>
					<p class="card-text">
						<span class="separate"
							ng-repeat="feature in lodging.featureType track by feature.id"
							ng-switch="feature.name">
								<i ng-switch-when="Parking"
									class="fas fa-parking"></i>
								<i ng-switch-when="WiFi"
									class="fas fa-wifi"></i>
								<i ng-switch-when="TV"
									class="fas fa-tv"></i>
								<i ng-switch-when="Kitchen"
									class="fas fa-utensils"></i>
								<i ng-switch-when="Bathroom"
									class="fas fa-bath"></i>
								<i ng-switch-default>{{feature.name}}</i>
								<i class="fas fa-check"></i>
						</span>
					</p>
				</div>
				<div class="card-footer">
					Available for
					<b>{{lodging.price[0].pricePerDay | currency}}</b>
					from <b>{{lodging.price[0].fromDate | date}}</b>
					to <b>{{lodging.price[0].toDate | date}}</b>.
				</div>
			</div>
	</div>
</div>
