<h2>Reservation list:</h2>
<!--List-->
<div class="row no-gutters align-items-stretch">
	<div ng-repeat="reservation in $ctrl.reservations track by reservation.id"
		class="col-lg-4 col-md-6">
			<div class="card m-md-1">
				<div class="card-header text-center">
					<p>
						Reserved from {{reservation.fromDate | date}}
						— {{reservation.toDate | date}}
					</p>
					<p>
						Completed
						<i ng-if="reservation.approved" class="fas fa-check"></i>
						<i ng-if="!reservation.approved" class="fas fa-times"></i>
					</p>
				</div>
				<my-slideshow class="card-img-top" image-paths="reservation.lodging.imagePaths"/>
				<div class="card-body">
					<h3 class="card-title d-flex align-items-center">
						{{reservation.lodging.name}}
						<span class="badge badge-custom ml-2">
							{{reservation.lodging.lodgingType.name}}
						</span>
					</h3>
					<div class="card-subtitle mb-2 text-muted">
						<div>
							Category:
							<my-stars rating="reservation.lodging.category" max="5"></my-stars>
							{{reservation.lodging.category}}/5
						</div>
						<div>
							Rating:
							<my-stars rating="reservation.lodging.rating" max="5"></my-stars>
							{{reservation.lodging.rating}}/5
						</div>
					</div>
					<p class="card-text">{{reservation.lodging.description}}</p>
					<p class="card-text">
						<i class="fas fa-map-marker"></i>
						{{reservation.lodging.address}}
					</p>
					<p class="card-text">
						<i class="fas fa-bed"></i>
						{{reservation.lodging.numberOfBeds}},
						{{reservation.lodging.foodServiceType.name}}
					</p>
					<p class="card-text">
						<span class="separate"
							ng-repeat="feature in reservation.lodging.featureType track by feature.id"
							ng-switch="feature.name">
								<i ng-switch-when="Parking"
									class="fas fa-parking"></i>
								<i ng-switch-when="WiFi"
									class="fas fa-wifi"></i>
								<i ng-switch-when="TV"
									class="fas fa-tv"></i>
								<i ng-switch-when="Kitchen"
									class="fas fa-utensils"></i>
								<i ng-switch-when="Bathroom"
									class="fas fa-bath"></i>
								<i ng-switch-default>{{feature.name}}</i>
								<i class="fas fa-check"></i>
						</span>
					</p>
					<p class="card-text" ng-if="reservation.rating">
						<i class="fas fa-heart"></i> Your rating:
						<my-stars rating="reservation.rating" max="5"></my-stars>
						{{reservation.rating}}/5
					</p>
				</div>
				<!--Actions-->
				<div class="card-footer form-row justify-content-end">
					<button class="btn btn-custom mr-1 col-auto"
						ng-click="reservation.showMessage  = !reservation.showMessage">
							Message agent
					</button>
					<button class="btn btn-custom col-auto"
						ng-if="reservation.approved"
						ng-click="reservation.showComment  = !reservation.showComment">
							Leave a comment
					</button>
					<form name="ratingForm"
						class="col-auto"
						ng-if="reservation.approved && !reservation.rating">
							<div class="input-group">
								<input type="number"
									class="form-control"
									ng-model="reservation.newRating"
									placeholder="N"
									min="1"
									max="5"
									required/>
								<div class="input-group-append">
									<button class="btn btn-custom"
										ng-click="ratingForm.$valid && $ctrl.rate(reservation)">
											Rate
									</button>
								</div>
							</div>
					</form>
					<button class="btn btn-custom col-auto"
						ng-if="!reservation.approved"
						ng-click="$ctrl.cancel(reservation)">
							Cancel reservation
					</button>
				</div>
				<!--Message text area-->
				<div class="card-footer" ng-show="reservation.showMessage">
					<form name="messageForm" class="form-row align-items-end">
						<textarea class="form-control col mr-1"
							rows="3"
							placeholder="Leave a message to agent {{reservation.lodging.agent.email}}"
							ng-model="reservation.newMessage"
							required>
						</textarea>
						<button class="btn btn-custom col-auto"
							ng-click="messageForm.$valid && $ctrl.message(reservation)">
								Submit
						</button>
					</form>
					<div class="m-2">
						{{reservation.messageStatus}}
					</div>
				</div>
				<!--Comment text area-->
				<div class="card-footer" ng-show="reservation.showComment">
					<form name="commentForm" class="form-row align-items-end">
						<textarea class="form-control col mr-1"
							rows="3"
							placeholder="Leave a comment"
							ng-model="reservation.newComment"
							required>
						</textarea>
						<button class="btn btn-custom col-auto"
							ng-click="commentForm.$valid && $ctrl.comment(reservation)">
								Submit
						</button>
					</form>
					<div class="m-2">
						{{reservation.commentStatus}}
					</div>
				</div>
			</div>
	</div>
</div>
